.bronto-email-signup {
  margin: 0 0 0.625em 0;
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .form-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0.625em 0;
    [role="radio"] {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      line-height: 1em;
      margin-right: 0.625em;
    }
    label {
      margin: 0;
      &:first-child {
        width: 100%;
        margin: 0 0 0.5em 0;
      }
      &.error {
        width: 100%;
      }
    }
  }
  button[type="submit"] {
    margin: 0 0 0.625em 0;
  }
  [role="radio"] {
    label {
      margin-left: 0.325em;
    }
  }
  .success {
    font-weight: bold;
  }
  .error {
    color: red;
  }
  span.required {
    margin-left: 0.325em;
  }
}
