$green: #07AA0F;
$wp-blue: #00b9eb;
#toplevel_page_bronto-email-signup-options {
  &:hover,
  &:focus {
    .wp-menu-name,
    div.dashicons-email-alt:before {
      color: $wp-blue;
    }
  }
  .wp-menu-name,
  div.dashicons-email-alt:before {
    color: $green;
  }
  &.current {
    a.menu-top {
      background-color: $green !important;
    }
    .wp-menu-name {
      color: #fff;
    }
  }
}
.bronto-email-signup {
  li {
    display: flex;
    background: #fff;
    padding: 0.3125em 0.625em 0.3125em 0.9375em;
    &:before {
      font: normal 20px/1 dashicons;
      content: "\f156";
      cursor: pointer;
      margin-right: 0.3125em;
    }
    .remove {
      margin-left: auto;
    }
  }
  .row-form {
    display: flex;
    list-style: none;
    background: #fff;
    padding: 0.3125em 0.625em;
  }
  .dashicons-no-alt {
    color: red;
    cursor: pointer;
  }
}
.error {
  display: block;
  color: red;
}
