$green: #07AA0F;
$wp-blue: #00b9eb;
#toplevel_page_bronto-email-signup-options {
  .wp-menu-image {
    img {
      opacity: 1;
    }
  }
}
.broes-sortable {
  li {
    display: flex;
  }
  .field {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0.3125em 0.625em 0.3125em 0.9375em;
    &:first-of-type {
      margin-right: 0.9375em;
    }
    &.hidden {
      display: none;
    }
    .remove {
      margin-left: auto;
    }
    input[type="text"] {
      margin-left: 0.3125em;
    }
  }
  .sort {
    width: 40%;
    &:before {
      font: normal 20px/1 dashicons;
      content: "\f156";
      cursor: pointer;
      margin-right: 0.625em;
    }
  }
  .row-form {
    display: flex;
    list-style: none;
    background: #fff;
    padding: 0.3125em 0.625em;
  }
  .dashicons-no-alt {
    color: red;
    cursor: pointer;
  }
}
.bronto-email-signup {
  .error {
    display: block;
    color: red;
  }
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: auto;
    &.hidden {
      visibility: hidden;
    }
  }
}
